
test.jl
examples/figures/
examples/*.md
examples/*.pdf
examples/*.html
examples/*.rst
examples/*.tex
test/documents/figures
test/documents/*.tex
test/documents/*.md
test/documents/*.rst

tmp/
.idea
*.*~
*.aux
*.log
*.out
