
src/*.cov
test.jl
examples/figures/
examples/*.md
examples/*.pdf
examples/*.html
examples/*.rst
examples/*.tex
test/documents/figures
test/documents/cache
test/documents/output/figures
test/documents/output/gadfly_formats_test.txt
test/documents/*.tex
test/documents/*.md
test/documents/*.rst
test/documents/*.html
test/documents/*.pdf
test/documents/chunk_options.jl
!test/documents/*ref.*

doc/build
doc/site
stable/

tmp/
.idea
*.*~
*.aux
*.log
*.out
