Manifest.toml

/doc/build/
/stylesheets/bootswatch/

examples/figures/
examples/*.md
examples/*.pdf
examples/*.html
examples/*.rst
examples/*.tex

test/**/cache
test/**/figures
test/documents/output/gadfly_formats_test.txt
test/**/*.tex
test/**/*.md
test/**/*.rst
test/**/*.html
test/**/*.pdf
test/**/*.png
test/**/chunk_options.jl
test/**/*.ipynb
!test/**/*ref.*

*.*~
*.aux
*.log
*.out
