
language: julia
julia:
  - 1.0
  - 1.1
matrix:
  allow_failures:
    - julia: 1.1
notifications:
  email: false
script:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - julia --check-bounds=yes -e 'using Pkg; Pkg.build()'
  - xvfb-run julia -e 'using Pkg; Pkg.test("Weave", coverage=true)'
after_success:
  - julia -e 'using Pkg; cd(Pkg.dir("Weave")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
jobs:
  include:
    - stage: "Documentation"
      julia: 1.0
      os: linux
      script:
        - julia --project=doc/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()));
                                               Pkg.instantiate()'
        - julia --project=doc/ doc/make.jl
      after_success: skip
